In [1]:
import pandas as pd
cms = pd.read_csv("data/clean_cms.csv")
cdi = pd.read_csv("data/clean_cdi.csv")
hrrp = pd.read_csv("data/clean_hrrp.csv")

In [2]:
cms.head()

,State,COPD_Cost,Heart_Failure_Cost,COPD_Discharges,Heart_Failure_Discharges
0,AK,16610.600000,16814.910169,110,590
1,AL,8025.652399,9643.388742,1355,4548
2,AR,7521.352232,8912.169380,829,3501
3,AZ,8773.520249,10827.994527,963,5116
4,CA,11831.609250,14486.320625,4865,28538

In [3]:
cdi.head()

  State  HeartDisease_Rate  COPD_Rate
0    AK               27.7        5.0
1    AL               83.8        9.4
2    AR               72.8       13.3
3    AZ               28.1        2.6
4    CA               30.7        3.3

In [4]:
hrrp.head()

,State,COPD_Predicted_Rate,Heart_Failure_Predicted_Rate,COPD_Expected_Rate,Heart_Failure_Expected_Rate,COPD_Excess_Ratio,Heart_Failure_Excess_Ratio
0,AK,18.730869,18.664527,18.658266,19.087871,1.003891,0.977821
1,AL,17.872373,19.633992,17.901635,19.634685,0.998365,0.999965
2,AR,18.326514,19.597350,18.129895,19.357507,1.010845,1.012390
3,AZ,16.737891,19.168292,16.955757,19.116684,0.987151,1.002700
4,CA,19.645774,20.095834,19.210772,19.744250,1.022644,1.017807